/* Inter - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Header */
@import url(header.css);

/* Our Clients */
@import url(our-clients.css);

/* The Unseen */
@import url(the-unseen.css);

/* Helping Local */
@import url(helping-local.css);

/* How to Design */
@import url(how-to-design.css);

/* Tim Smith Citation */
@import url(tim-smith-citation.css);

/* New Marketing */
@import url(new-marketing.css);

:root {
    --background: #F5F5F5;
    --primary: #4CAF4F;
    --primary-darker: #449c46;
    --secondary: #FFFFFF;
    --secondary-darker: #AAAAAA;
    --text: #4D4D4D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter", sans-serif;
}